/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/mvnw
/mvnw.cmd
api-gateway/target/
community-core/target/
consumer-order-feign/target/
consumer-order-rabbin/target/
consumer-order/target/
eureka-server/src/test/
eureka-server/target/
provider-user/target/
community-web/target/
community-admin/target/
