<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinrui.admin.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinrui.admin.entity.User">
        <id column="ID" property="id" />
        <result column="LOGIN_NAME" property="loginName" />
        <result column="SALT" property="salt" />
        <result column="PASSWORD" property="password" />
        <result column="MOBILE" property="mobile" />
        <result column="STATUS" property="status" />
        <result column="LOGIN_ERR_TIMES" property="loginErrTimes" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="LASTUPDATE_TIME" property="lastupdateTime" />
        <result column="LASTUPDATE_BY" property="lastupdateBy" />
    </resultMap>

    <resultMap type="com.xinrui.admin.entity.User" id="UserResultMap" extends="BaseResultMap">
        <collection property="roles" ofType="com.xinrui.admin.entity.Role">
            <id column="ID" property="id" />
            <result column="ROLE_NAME" property="roleName" />
            <result column="ROLE_SING" property="roleSing" />
            <result column="REMARK" property="remark" />
            <result column="STATUS" property="status" />
            <result column="CREATE_TIME" property="createTime" />
            <result column="CREATE_BY" property="createBy" />
            <result column="LASTUPDATE_TIME" property="lastupdateTime" />
            <result column="LASTUPDATE_BY" property="lastupdateBy" />
            <collection property="menus" ofType="com.xinrui.admin.entity.Menu">
                <id column="ID" property="id" />
                <result column="P_ID" property="pId" />
                <result column="MENU_NAME" property="menuName" />
                <result column="TYPE" property="type" />
                <result column="URL" property="url" />
                <result column="PERMISSION" property="permission" />
                <result column="ICON" property="icon" />
                <result column="ORDER_NUM" property="orderNum" />
                <result column="STATUS" property="status" />
                <result column="CREATE_TIME" property="createTime" />
                <result column="CREATE_BY" property="createBy" />
                <result column="LASTUPDATE_TIME" property="lastupdateTime" />
                <result column="LASTUPDATE_BY" property="lastupdateBy" />
            </collection>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, LOGIN_NAME AS loginName, SALT AS salt, PASSWORD AS password, MOBILE AS mobile, STATUS AS status, LOGIN_ERR_TIMES AS loginErrTimes, CREATE_TIME AS createTime, CREATE_BY AS createBy, LASTUPDATE_TIME AS lastupdateTime, LASTUPDATE_BY AS lastupdateBy
    </sql>

    <select id="selectUserAndRolesByName" resultMap="UserResultMap" parameterType="String">
        SELECT R.*,U.* FROM USER U
        LEFT JOIN USER_ROLE UR ON UR.USER_ID = U.ID
        LEFT JOIN ROLE R ON UR.ROLE_ID = R.ID
        LEFT JOIN ROLE_MENU RM ON RM.ROLE_ID = R.ID
        LEFT JOIN  MENU M ON RM.MENU_ID = M.ID
        WHERE LOGIN_NAME = #{USERNAME};
    </select>

</mapper>
