<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
    <div>
        <form id="signupForm">
            <h3 class="text-center">用户登录</h3>
            <p class="m-t-md text-center">欢迎登录bootdo后台管理系统</p>
            <input type="text" name="username" class="form-control uname"
                   value="admin"/>
            <input type="password" name="password"
                   class="form-control pword m-b" value="111111"/>
            <a id="login" class="btn btn-login btn-block">登录</a>
    </div>

</body>
</html>